@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner_1.png" alt="banner_1" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner_2.png" alt="banner_2" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/banner_3.png" alt="banner_3" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>I am alive!</h2>
        <ul>
            <li>Let your friends know you are okay, without actually telling them!</li>
            <li>Hassle free - you will never receive notifications or be bothered by overwhelming social media presence.</li>
            <li>Use API to avoid even looking at all those angry people that miss you!</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>About</h2>
        <ul>
            <li>Final project for ASP.NET course</li>
            <li>Example app that covers several keypoints of MVC architecture in ASP.Net</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Contact</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/lukaknezic98/">LinkedIn</a></li>
            <li><a href="https://luka-knezic.github.io/">Website</a></li>
            <li>luka.knezic98@gmail.com</li>
            <li><a href="https://github.com/knork-fork/PingPage">GitHub</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Corona</h2>
        <p>This app was inspired by a unique situation developed in Covid-19 isolation.</p>
        <p>Have some interesting links:</p>
        <ul>
            <li><a href="https://www.worldometers.info/coronavirus/">Global Corona Cases</a></li>
            <li><a href="https://stopcorona.app/">Stop Corona!</a></li>
            <li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO - Corona</a></li>
        </ul>
    </div>
</div>
